@import url("../variables.css");

button {
  border-radius: 3px;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--medium-blue);
  background-color: var(--white);
  transition: all 0.25s;
}

button:hover {
  background-color: var(--medium-blue);
  color: var(--white);
}

.header {
  background-color: var(--medium-blue);
  padding: 15px;
  font-size: 20px;
  position: sticky;
  z-index: 1;
  top: 0;
}

h1 {
  color: var(--white);
  font-size: 18px;
  margin: 0;
  float: left;
}

input {
  outline: none;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  padding: 3px;
}

.search {
  grid-template-columns: calc(100% - 35px) 30px;
  padding: 2px;
  display: grid;
  transform: translateY(-50%);
  width: 100%;
  max-width: 175px;
  grid-column-gap: 5px;
  position: absolute;
  top: 50%;
  right: 0;
}

.wrapper {
  max-width: 1410px;
  position: relative;
  margin: 0 auto;
  height: 17px;
}

@media screen and (max-width: 786px) {
  .header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
  }
}
